<section class="section-about">

<div class="wrap-about-me">

<div class="title-about">
<h2 class="title-about-text">I work with people all over the world to create impressive and <span class="span-first">functional</span> websites that reflect each client's unique
personality.</h2>


</div>
     <div class="img-about">
        <img src="../img/imgJPEG/heroImg/heroImg.jpg" alt="hero">
     </div>


</div>

<div class="wrap-me">
    <div class="container-button">
        <h3 class="title-three">ABOUT ME</h3>
        <button class="button" type="button">
            <svg class="svg" width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4L6 10H18L12 4Z" fill="white" />
            </svg>
        </button>
    </div>
  
    <div class="container-text">
        <p class="paragraph">I am Lloyd Jefferson, a talented programmer with extensive expertise in software development. I have an understanding
            of
            different programming languages ​​and technologies, always ready to improve my skills. I always follow the latest
            trends
            and look for unconventional, creative solutions to problems. I have a high level of analytical skills and am able to
            effectively solve even the most difficult tasks encountered on the way.</p>
        
        
        <p class="paragraph">Able to work both independently and in a team. I can effectively cooperate with colleagues, exchanging ideas and
            finding
            optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful situations, while
            maintaining a high quality of work. I am always looking for opportunities for self-improvement. I actively study new
            technologies and practices to stay abreast of the latest innovations. I have a strong understanding of various
            programming languages, frameworks and architectural concepts that allow me to create efficient and scalable
            software.</p>
    </div>

    <div class="container-button-next">
        <h3 class="title-three">ROLE</h3>
        <p hidden class="target-text">Frontend development
        HeadlessCMS,Wordpress
        Blender(enjoy)</p>
        <button class="button" type="button">
            <svg class="svg" width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4L6 10H18L12 4Z" fill="white" />
            </svg>
        </button>
    </div>
    <div class="container-button-next"> 
        <h3 class="title-three">EDUCATION</h3>
        <p hidden class="target-text">2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York
        2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        <button class="button" type="button">
            <svg class="svg" width="34" height="34" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4L6 10H18L12 4Z" fill="white" />
            </svg>
        </button>
    </div>
</div> 
<div class="skills">
    <h3 hidden class="title-three">SKILLS</h3>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">HTML/CSS</div>
            <div class="swiper-slide">JavaScript</div>
            <div class="swiper-slide">React</div>
            <div class="swiper-slide">Mode.js</div>
            <div class="swiper-slide">React Native</div>
            <div class="swiper-slide">Soft skills</div>
        </div>
        <div class="swiper-button-next">
            <svg class="arrow-next" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 5l8 7-8 7" stroke="#FAFAFA" stroke-width="2" fill="black" />
            </svg>
        </div>
    </div>
</div>
</section>