<section class="benefits">
    <div class="container-main-benefits">

    <div class="title-container">
        <h3 class="title-benefits">
            Benefits of working with me
        </h3>
    </div>
    
    <div class="container-benefits">
        <ul class="benefits-list">
            <li class="little-container">
                <div class="container-things">
                    <svg></svg>
                    <h4 class="title">Expertise</h4>
                       <p class="paragraph-benefits">As a highly experienced developer, I have deep knowledge of programming and website
                    development.</p>
                </div>
              
            </li>
            <li class="little-container">
                <div class="container-things">
                    <svg></svg>
                     <h4 class="title">Communication</h4>
                        <p class="paragraph-benefits">Understanding your needs and wants is my priority and I am always open to discussions andcorrections.
                        </p>
                </div>

            </li>
            <li class="little-container">
                <div class="container-things">
                    <svg></svg>
                    <h4 class="title">Art</h4>
                    <p class="paragraph-benefits">Thanks to my creative nature, I am ready to accept challenges and help you bring your
                        ideas to life.</p>
                </div>
               
            </li>
            <li class="little-container">
                <div class="container-things">
                    <svg></svg>
                    <h4 class="title">Urgent execution</h4>
                    <p class="paragraph-benefits">I understand how important time is to you. Ready to work quickly and efficiently, without
                        reducing the
                        quality of work.</p>
                </div>
                
            </li>
        </ul>
        <button id="order-button" class="button-benefits" type="button">Order the project</button>
    </div>
    </div>

</section>
