<section class="benefits">
    <div class="container-main-benefits">
    <div class="title-container">
        <h3 class="title-benefits">
            Benefits of working with me
        </h3>
    </div>
    
    <div class="container-benefits">
        <ul class="benefits-list">
            <li class="little-container">
                <div class="container-things">
                    <div class="container-svg"> 
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 12c2.76 0 5-2.24 5-5S14.76 2 12 2 7 4.24 7 7s2.24 5 5 5zm0 2c-3.33 0-10 1.67-10 5v3h20v-3c0-3.33-6.67-5-10-5z" fill="white"/>
                    </svg>
                   </div>
                   
                    <h4 class="title">Expertise</h4>
                       <p class="paragraph-benefits">As a highly experienced developer, I have deep knowledge of programming and website
                    development.</p>
                </div>
              
            </li>
            <li class="little-container">
                <div class="container-things">
                    <div class="container-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 2H4c-1.1 0-2 .9-2 2v16l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm0-3h12v2H6V6zm0 6h8v2H6v-2z" fill="white"/>
                        </svg>
                    </div>
                   
                     <h4 class="title">Communication</h4>
                        <p class="paragraph-benefits">Understanding your needs and wants is my priority and I am always open to discussions andcorrections.
                        </p>
                </div>

            </li>
            <li class="little-container">
                <div class="container-things">
                    <div class="container-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.39 3.61L14.39 1.61C14 1.22 13.47 1 12.91 1s-1.09.22-1.48.61L2 11.06V15h3.94L16.39 3.61zM3 17h18v2H3v-2zm3-5h1.94l10-10L17 2.06l-10 10H6v-1.06z" fill="white"/>
                        </svg>
                    </div>
                  
                    <h4 class="title">Art</h4>
                    <p class="paragraph-benefits">Thanks to my creative nature, I am ready to accept challenges and help you bring your
                        ideas to life.</p>
                </div>
               
            </li>
            <li class="little-container">
                <div class="container-things">
                    <div class="container-svg">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 2v4c0 2.21 1.79 4 4 4v1c-2.21 0-4 1.79-4 4v4h12v-4c0-2.21-1.79-4-4-4v-1c2.21 0 4-1.79 4-4V2H6zm10 6c0 1.1-.9 2-2 2h-4c-1.1 0-2-.9-2-2V4h8v4zm-8 10c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2v4H8v-4z" fill="white"/>
                        </svg>
                    </div>
                   
                    <h4 class="title">Urgent execution</h4>
                    <p class="paragraph-benefits">I understand how important time is to you. Ready to work quickly and efficiently, without
                        reducing the
                        quality of work.</p>
                </div>
                
            </li>
        </ul>
        <button id="order-button" class="button-benefits" type="button">Order the project</button>
    </div>
    </div>

</section>
