<section class="covers">
    <h2 class="visually-hidden">Covers</h2>
   <ul class="covers-list">
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg1.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg2.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg3.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg4.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg5.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg6.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg7.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg8.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg9.jpg" alt="covers"></li>
      <li class="covers-wrap"> <img src="../img/imgJPEG/coversImg/coversImg10.jpg" alt="covers"></li>
    </ul>

</section>