<section class="cover-section">
    <h2 class="visually-hidden">Covers</h2>
    <div class="cover-container">
      <ul class="covers-list">
        <li class="covers-wrap"> <img class="cover cover-1" src="../img/imgJPEG/coversImg/coversImg1.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-2" src="../img/imgJPEG/coversImg/coversImg2.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-3" src="../img/imgJPEG/coversImg/coversImg3.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-4" src="../img/imgJPEG/coversImg/coversImg4.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-5" src="../img/imgJPEG/coversImg/coversImg5.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-6" src="../img/imgJPEG/coversImg/coversImg6.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-7" src="../img/imgJPEG/coversImg/coversImg7.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-8" src="../img/imgJPEG/coversImg/coversImg8.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-9" src="../img/imgJPEG/coversImg/coversImg9.jpg" alt="covers"></li>
        <li class="covers-wrap"> <img class="cover cover-10" src="../img/imgJPEG/coversImg/coversImg10.jpg" alt="covers"></li>
      </ul>
    </div>
  

</section>