<section class="faq">
    <div class="wrap-title-fqa">
        <h2 class="title-fqa">FAQ</h2>
    </div>
    <div class="container-fqa">
        <ul class="list-fqa">
            <li class="wrap-fqa">
                <h3 class="mini-fqa">
                    What programming languages ​​are most often used in your project?
                </h3>
                <p class="paragraph-fqa">
                    In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.
                </p>
                <button class="button-fqa" type="button"></button>
            </li>
            <li class="wrap-fqa">
                <h3 class="mini-fqa">
                    What are the deadlines for the project?
                </h3>
                <p class="paragraph-fqa">
                    The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
                </p> 
                <button class="button-fqa" type="button"></button>
            </li>
            <li class="wrap-fqa">
                <h3 class="mini-fqa">
                    What payment methods do you accept?
                </h3>
                <p class="paragraph-fqa">
                    Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </p>
                <button class="button-fqa" type="button"></button>
            </li>
            <li class="wrap-fqa">
                <h3 class="mini-fqa">
                    How can I contact you?
                </h3>
                <p class="paragraph-fqa">
                    In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.
                </p>  
                <button class="button-fqa" type="button"></button>
            </li>
            <li class="wrap-fqa">
                <h3 class="mini-fqa">
                    Do you provide advice or support?
                </h3>
                <p class="paragraph-fqa">
                    The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.
                </p>
                <button class="button-fqa" type="button"></button>
            </li>
            <li class="wrap-fqa">
                <h3 class="mini-fqa">
                    What does the process of developing a software product look like from idea to implementation?
                </h3>
                <p class="paragraph-fqa">
                    Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </p>
                <button class="button-fqa" type="button"></button>
            </li>
        </ul>
    </div>
</section>