<footer id="work-together" class="footer">
    <div class="container-logo">
        <h2 class="title-footer"> <img class="img-logo" src="../img/imgJPEG/logoImg/logoImg-min.jpg" alt="logo"> let`s <span
                class="span-footer">work</span>
            <br>together
        </h2>
    </div>
    <div class="main-footer-container">
        <div class="container-form">
            <form action="submit.php" method="post">
                <label for="email">clients@gmail.com</label>
                <input type="email" id="email" name="email" required>
        
                <label for="comment">comments</label>
                <textarea id="comment" name="comment" rows="4" required></textarea>
        
                <button class="button-footer" type="submit">Send</button>
                <div class="button-footer-container">
                        <button class="button-first-footer" type="button">lloydjefferson@gmail.com</button>
                        
                        <button class="button-second" type="button">+380 11 1111 11 11</button>
                </div>
            
            </form>
        </div>
    </div>
</footer>