<header>
    
        <div class="header-div">
            <div class="logo-container">
               
                <p class="logo-name">jefferson*</p>
            </div>

            <div class="menu-div">
                <button class="menu-button">Menu</button>

                <ul class="ankors-menu is-hidden"></ul>
            </div>

            <button class="order-button">Order the project</button>

            <div hidden class="burger-whipe">
                <a href="">
                    <svg width="30" height="20" viewBox="0 0 40 20" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="4" fill="white" />
                        <rect y="16" width="40" height="4" fill="white" />
                    </svg>
                </a>
              <menu class="menu" style="display:none;">
                <div class="close-btn" onclick="closeMenu()">
                    <!-- Крестик для закрытия меню -->
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <line x1="5" y1="25" x2="25" y2="5" stroke="white" stroke-width="3" />
                        <line x1="5" y1="5" x2="25" y2="25" stroke="white" stroke-width="3" />
                    </svg>
                </div>
                   <ul class="list-text">
                    <a href="./aboutMe.html">
                        <li class="text-menu">About me</li>
                    </a>
                       <a href="./benefits.html">
                    <li class="text-menu">Benefits</li>
                    </a>
                    <a href="./projects.html">
                        <li class="text-menu">Projects</li>
                    </a>
                     <a href="./faq.html">
                        <li class="text-menu">FAQ</li>
                    </a>
                  </ul>
                 
              </menu>
            </div>
        </div>
        
</header>

