<section class="project">
<h3 class="title-project">Projects</h3>
<div class="wrap-projects">
    <div class="project-wrap">
        <ul class="list-links">
            <li class="wrap-first">
                <a href="">#react</a>
            </li>
            <li class="wrap-second">
                <a href="">#js</a>
            </li>
            <li class="wrap-first">
                <a href="">#node js</a>
            </li>
            <li class="wrap-second">
                <a href="">#git</a>
            </li>
        </ul>
        <div class="wrap-again">
            <h2 class="title-projects">Programming Across <br>Borders: Ideas, <br>Technologies, Innovations</h2>
            <a href="https://github.com/JuliaCicer13/project">
                <button class="order-button" type="button">See project</button>
            </a>
        </div>
    </div>
    <div class="picture">

    </div>
</div>
</section>