.cover-section {
    background: linear-gradient(to right,
    rgba(100, 0, 0, 0.5) 100px,
    rgba(100 0, 0, 0.5) 100px),
    repeating-linear-gradient(90deg,
    rgba(225, 0, 0, 0.5) 100px,
    rgba(255, 0, 0, 0.5) 160px,
    rgba(0, 0, 0, 0) 100px,
    rgba(0, 0, 0, 0) 160px),
    url(../img/imgJPEG/heroImg/redage.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    position: relative;
    width: 1520px;
    height: 960px;
    margin: 0 auto;
    background-color: #1C1D20;
    overflow: hidden;
    margin-bottom: 164px;
   
} 

.cover-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.covers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cover {
    width: 550px;
    height: auto;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.5s ease-in-out;
}


.cover-1 { top: 10%; left: 10%; transform: rotate(-10deg); }
.cover-2 { top: 20%; left: 40%; transform: rotate(5deg); }
.cover-3 { top: 30%; left: 70%; transform: rotate(-15deg); }
.cover-4 { top: 50%; left: 15%; transform: rotate(10deg); }
.cover-5 { top: 60%; left: 50%; transform: rotate(-5deg); }
.cover-6 { top: 10%; left: 75%; transform: rotate(8deg); }
.cover-7 { top: 70%; left: 80%; transform: rotate(-12deg); }
.cover-8 { top: 40%; left: 5%; transform: rotate(7deg); }
.cover-9 { top: 80%; left: 30%; transform: rotate(-8deg); }
.cover-10 { top: 90%; left: 60%; transform: rotate(6deg); }


@keyframes float {
    0% { transform: translateY(0px) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(2deg); }
    100% { transform: translateY(0px) rotate(0deg); }
}

.cover {
    animation: float 4s infinite ease-in-out;
}