header {
    position: absolute;
    z-index: 20;
    display: flex;
    background: none;
    width: 100%;
    justify-content: center;
}

.header-div{
margin-top: 32px;
margin-left: 32px;
margin-right: 32px;

}

.logo-container {
    display: flex;
}

.menu-button {
    background: none;
    border: none;
    padding: 0;
    margin-top: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 487px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}


.menu-button:hover,
.menu-button:focus {
    color: #ed3b44;
}

.menu-div {
    height: 10px;
    flex-direction: column;
    text-align: center;
}

.img-logo {
    margin-right: 8px;
    border-radius: 18px;
    width: 80px;
    height: 80px;
}

.logo-name {
    margin: 0;
    color: #FAFAFA;
}

.header-div {
    margin-top: 32px;
    width: 1376px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.ankors-menu {
    margin-top: 16px;
    white-space: nowrap;
    padding: 0;
    width: auto;
    list-style: none;
    color: #FAFAFA;
    ;
}


.acnkorLink {
    margin-top: 5px;
}

.acnkorLink:hover,
.acnkorLink:focus {
    color: #ed3b44;
    cursor: pointer
}


.is-hidden {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
}

.order-button {
    white-space: nowrap;
    background: none;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px 18px 24px;
    width: 187px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;
    background-color: #ED3B44;
}

.order-button:hover,
.order-button:focus {
    background: #E0373F;
}

/* mobile version */


@media(max-width: 375px) {

    .order-button {
        display: none;

    }


    .menu-button {
        display: none;
    }



    .burger-whipe {
        display: block;
        cursor: pointer;
    }

    .menu {
            background: linear-gradient(to right,
                    rgba(100, 0, 0, 0.5) 1000px,
                    rgba(100 0, 0, 0.5) 100px),
                repeating-linear-gradient(90deg,
                    rgba(225, 0, 0, 0.5) 1000px,
                    rgba(255, 0, 0, 0.5) 160px,
                    rgba(0, 0, 0, 0) 100px,
                    rgba(0, 0, 0, 0) 160px),
                url(../img/modal.png);
        background-position: center;
        background-size: cover;
        background-blend-mode: overlay;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        justify-content: center;
        align-items: center;

    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 50px;
        cursor: pointer;

    }

    .list-text {
        list-style: none;
        padding: 230px 152px 190px 120px;


    }

    .text-menu {
        margin-bottom: 5px;
        color: #FAFAFA;
        text-decoration: underline;
        cursor: pointer;
    }

.menu-order-button{
    margin-left: 50px;
    position: relative;
    display: block;
    white-space: nowrap;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 24px 18px 24px;
    width: 187px;
    height: 55px;
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;
    background-color: #ED3B44;

}
}