.project{
    width: 1520px;
    height: 675px;
    align-items: center;
    margin: 0 auto;
    background-color: #1C1D20;
    margin-bottom: 164px;
}
.project-wrap {
    width: 680px;
    height:700px;
    border-radius: 20px;
    background-color: #FAFAFA;
  
}
.wrap-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.picture {
    width: 680px;
    height: 700px;
    border-radius: 20px;
}
.list-links{
    list-style: none;
    display: flex;
    margin-bottom: 224px;
   padding-top: 64px;
    margin-left: 64px;
}
.wrap-again{
    margin-left: 64px;
}
.title-projects {
    font-size: 44px;
    line-height: 44px;
    font-weight: 500;
    margin-bottom: 32px;
  
}
.wrap-first{
    width: 94px;
    height: 55px;
    border-radius: 60px;
    border: solid 1px;
    text-align: center;
    border-color: gray;
    justify-content: center;
    display: flex;
    align-items: center;
}

.wrap-second {
    width: 55px;
    height: 57px;
    border-radius: 60px;
    border: solid 1px;
    text-align: center;
    border-color: gray;
    justify-content: center;
    display: flex;
    align-items: center;
}
.order-button {
    width: 177px;
    height: 55px ;
    border-radius: 60px;
}