.hero {
background-image: url(../img/Hero\ \(3\).png);
Width:
1440px;
Height:
900px;
position: relative; /* Устанавливаем позицию для секции */

    padding: 0; /* Убираем лишние внутренние отступы */

    display: flex; /* Делаем flex-контейнер */
    align-items: flex-end; /* Прижимаем содержимое вниз */
    justify-content: flex-end; /* Прижимаем содержимое вправо */
}


.main-title {

Width:
1084px;
Height:
270px;
text-align: center;
font-size: 90px;
line-height: 90px;
align-items: center;
}

.list-link {
margin-right: 50px;
position: absolute;
display: flex;
list-style: none;
bottom: 0;
right: 0;
}


.link-wrap {
  Width: 55px;
  Height: 55px;
  border: solid 1px;
  border-color: aliceblue;
  border-radius: 50%;
  margin-right: 8px;
  text-align: center;
  padding: 18px 17px 18px 17px;
  

}

.link {
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}


.second-wrap{
padding-top: 40px;



}

.link-big{
  margin-left: 34px;
  border: solid 1px;
  Width: 223px;
  Height: 55px;
  border-radius:
  60px;
  Padding
  :18px 24px 18px 24px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

